.u-section-1 .u-sheet-1 {
  min-height: 350px;
}

.u-section-1 .u-text-1 {
  margin: 69px auto 0;
}

.two-col {
  overflow: hidden;/* Makes this div contain its floats */
}

.two-col .col1,
.two-col .col2 {
  width: 49%;
}

.two-col .col1 {
  float: left;
}

.two-col .col2 {
  float: right;
}

.two-col label {
  display: block;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 182px auto 0;
  padding: 11px 50px 11px 49px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.3em;
}

.u-section-1 .u-map-1 {
  width: 570px;
  height: 228px;
  margin: 152px 271px 60px auto;
}
.button11{
  margin-top: 150px;
  background-color: #ffffff;
  border: none;
  color: #000000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
}
@media (max-width: 991px) {
  .u-section-1 .u-map-1 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-map-1 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-map-1 {
    width: 340px;
  }
}