.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
.backgroundblack{
    background-color: black;
}

.textColor{
    color: black;
    margin-left: 20px;
}

.u-section-2 .u-layout-cell-4 {
    min-height: 200px;
    background-color: #cbcbcb;
   border-radius: 20px;
}

.two-col {
    overflow: hidden;/* Makes this div contain its floats */
}

.two-col .col1{
    width:30% ;
}
.two-col .col2 {
    width: 69%;
}

.two-col .col1 {
    float: left;
}

.two-col .col2 {
    float: right;
}

.two-col label {
    display: block;
}
.imagesearch{
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.textvert{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

