.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
.backgroundblack{
    background-color: black;
}

.textColor{
    color: black;
    margin-left: 20px;
}

.u-section-2 .u-layout-cell-4 {
    min-height: 200px;
    background-color: #cbcbcb;
   border-radius: 20px;
}

.two-col {
    overflow: hidden;/* Makes this div contain its floats */
}

.two-col .col1{
    width:30% ;
}
.two-col .col2 {
    width: 69%;
}


.two-col .col1 {
    float: left;
}

.two-col .col2 {
    float: right;
}

.two-col label {
    display: block;
}


.two-coll {
    overflow: hidden;/* Makes this div contain its floats */
}

.two-coll .coll1{
    width:49% ;
    text-align: right;
}
.two-coll .coll2 {
    width: 50%;
    text-align: left;
}


.two-coll .coll1 {
    float: left;
}

.two-coll .coll2 {
    float: right;
}

.two-coll labell {
    display: block;
}



.imagesearch{
    height: 100px;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.textvert{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.textcards{
    color: white;
}
.buttonS{

    background-color: #ffffff;
    border: grey;
    border-radius: 3px;
    color: #020101;
    width: 100px;
    height: 40px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
}

.mtop{
    margin-top: -40px;
}

html {
    -ms-scroll-limit-x-min: 10px;
    scroll-margin-top: 200px;
    scroll-behavior: smooth;
}
